/* Main */

body {
	background-color: #FFFFFF;
	width: 100vw;
	height: 100vh;
	font-family: arial, sans-serif;
	font-size: small;
}

/* Header Nav Bars */

ul.header-nav {
	list-style-type: none;
	width: 100%;
}

li.header-nav-right {
	float: right;
}

li.header-nav-left {
	float: left;
}

a {
	text-decoration: none;
	color: black;
}

/* Logo */

.logo {
	padding-top: 100px;
}

/* Form */

.searchform {

}

/* Footers */

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.location {
	background-color: #f2f2f2;
	border-style: solid;
	border-color: #DCDCDC;
	border-width: 1px;
}

p {
	margin-left: 20px;
	text-align: left;
	line-height: 8px;
	font-size: 15px;
	font-weight: lighter;
	width: 100%;
	color: gray;
}

.footer-nav {
	list-style-type: none;
	margin: 0;
	background-color: #f2f2f2;
	overflow: hidden;

}

.footer-nav {
	display: block;
	margin-top: -1px;
	background-color: #f2f2f2;
	border-style: solid;
	border-color: #DCDCDC;
	border-width: 1px;
	width: 100%;
}

.footer-nav-right, .footer-nav-left {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #f2f2f2;
}

.footer-nav-right {
	float: right;
	margin-right: 20px;
}

.footer-nav-left {
	float: left;
	margin-left: 0px;
}

.footer-nav-left a, .footer-nav-right a {
	margin-left: 20px;
	color: gray;
}

.footer-nav-left a:hover, .footer-nav-right a:hover {
	text-decoration: underline;
}