/* Main */

body {
	background-color: #FFFFFF;
	width: 100vw;
	height: 100vh;
	font-family: arial, sans-serif;
	font-size: small;
	margin: 0;
}

a {
	text-decoration: none;
}

img {
	vertical-align: middle;
}

button {
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: small;
    font-weight: bold;
}

/* Header Nav Bars */

.header-nav {
	display: inline;
	list-style-type: none;
	margin: 0;
	background-color: #FFFFFF;
	overflow: hidden;
}

.header-nav-right {
	float: right;
	margin-right: 20px;
	margin-top: 15px;
}

.header-nav-right a {
	color: black;
	margin-right: 12px;
	opacity: 0.66;
}

.signin {
	color: white;
	background-color: #417FF6;
	padding: 8px 11px;
	border: none;
;
}

/* Logo */

.logo {
	padding-top: 170px;
}

/* Form */

.searchform {
	padding-top: 30px;
}

.textinput {
	height: 40px;
	width: 500px;
	margin-bottom: 30px;
	box-shadow: 0 2px 1px 0 #ccc;
	border-style: solid;
	border-width: 1px;
	border-color: #DCDCDC;
	border-radius: 2px;
}

.searchbutton {
	padding: 10px 15px;
    margin-left: 5px;
	background-color: #f2f2f2;
    color: gray;
    border: 1px;
    border-style: solid;
    border-color: #f2f2f2;
}

.searchbutton:hover {
	border-color: #DCDCDC;
	color: black;
}

/* Footers */

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.location {
	background-color: #f2f2f2;
	border-style: solid;
	border-color: #DCDCDC;
	border-width: 1px;
}

p {
	margin-left: 20px;
	text-align: left;
	line-height: 8px;
	font-size: 15px;
	font-weight: lighter;
	width: 100%;
	color: gray;
}

.footer-nav {
	list-style-type: none;
	margin: 0;
	background-color: #f2f2f2;
	overflow: hidden;

}

.footer-nav {
	display: block;
	margin-top: -1px;
	background-color: #f2f2f2;
	border-style: solid;
	border-color: #DCDCDC;
	border-width: 1px;
	width: 100%;
}

.footer-nav-right, .footer-nav-left {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #f2f2f2;
}

.footer-nav-right {
	float: right;
	margin-right: 20px;
}

.footer-nav-left {
	float: left;
	margin-left: 0px;
}

.footer-nav-left a, .footer-nav-right a {
	margin-left: 20px;
	color: gray;
}

.footer-nav-left a:hover, .footer-nav-right a:hover {
	text-decoration: underline;
}